/*
	Colors classes
*/

@mixin colors-generate {
	@each $color in $color-list {
		.#{"" + $color} {
			@if $color == theme {
				color: $color-theme;
			} @else {
				color: $color;
			}
		}
		.bg-#{"" + $color} {
			@if $color == theme {
				background: $color-theme;
			} @else {
				background: $color;
			}
		}
	}
	@each $color in $color-hex {
		.hex#{$color} {
			color: unquote("#" + $color);
		}
		.bg-hex#{$color} {
			background: unquote("#" + $color);
		}
	}
}

@include colors-generate;
