/*
	Wrapping container
*/

.ctn {
	@include flexrow(initial, initial);
	width: 1400px;
	margin: auto;

	@include responsive(1700px) {
		width: 1000px;
	}

	@include responsive(1400px) {
		width: 90%;
	}
}

@mixin ctn-generate {
	$ctn-step: 5;
	$ctn-v: 0;
	$ctn-h: 0;
	$ctn-limit: 300;
	@while $ctn-v <= $ctn-limit {
		@while $ctn-h <= $ctn-limit {
			.ctn-#{$ctn-v}-#{$ctn-h} {
				padding-top: #{$ctn-v}px;
				padding-bottom: #{$ctn-v}px;
				padding-left: #{$ctn-h}px;
				padding-right: #{$ctn-h}px;
			}
			$ctn-h: $ctn-h + $ctn-step;
		}
		$ctn-h: 0;
		$ctn-v: $ctn-v + $ctn-step;
	}
}

@include ctn-generate;
