/*
	General common style
*/

* {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
	Setup general styles
*/

html,
body,
#root {
	background: $color-theme-fg;
}

html,
body,
#root,
p,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	color: rgb(50, 50, 50);
}

ul {
	list-style-type: none;
}

a {
	@include transition;
	text-decoration: none;
}

p,
a,
li,
button,
input,
textarea {
	font-size: $font-size;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

// Border-radius
@mixin br-generate {
	$radius: 0;
	$radiusMax: 100;
	$radiusStep: 5;
	@while $radius <= $radiusMax {
		.br-#{$radius} {
			border-radius: #{$radius}px;
		}
		$radius: $radius + $radiusStep;
	}
}

@include br-generate;

.br-round {
	border-radius: 50%;
}

// Overflow
.o-hidden {
	overflow: hidden;
}

.o-scroll {
	overflow: auto;
}

// Positioning
@mixin p-create {
	position: fixed;
	z-index: 15;
}

.p-center {
	@include p-create;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.p-top {
	@include p-create;
	top: 0;
	left: 0;
}

.p-bottom {
	@include p-create;
	bottom: 0;
	left: 0;
}

.p-left {
	@include p-create;
	top: 0;
	left: 0;
}

.p-right {
	@include p-create;
	top: 0;
	right: 0;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.d-none {
	display: none !important;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.section {
	&__head {
		display: flex;
		align-items: center;
	}

	&__bar {
		width: 5px;
		height: 40px;
	}

	&__title {
		font-size: 30pt;
	}
}