/*
	Cover styles
*/

.cover {
	height: calc(100vh - #{$navbarHeight}px);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	background: url(../../public/bg-cover.jpg) center center no-repeat;
	background-size: cover;

	&__title {
		font-size: 45pt;
		color: white;
		@include responsive(1200px) {
			font-size: 38pt;
		}
		@include responsive(900px) {
			font-size: 30pt;
		}
		@include responsive($screen-xsm) {
			font-size: 20pt;
		}
	}

	&__service {
		display: inline-block;
		width: 350px;
		height: 80px;
		background: rgba(238, 30, 30, 0.5);
		margin: 0;
		padding: 0;
		position: relative;
		@include responsive(1200px) {
			width: 325px;
			height: 70px;
		}
		@include responsive(900px) {
			width: 260px;
			height: 50px;
		}
		@include responsive($screen-xsm) {
			width: 200px;
			height: 40px;
		}
	}

	&__item {
		position: absolute;
		top: -200px;
		@include transition(0.4s);
		&--show {
			top: 0;
		}
	}

	&__separator {
		height: 5px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
	}

	// Wave
	.header {
		position: relative;
		text-align: center;
		height: 100%;
		&__content {
			height: 100%;
		}
	}

	.waves {
		position: relative;
		width: 100%;
		height: 100%;
		margin-bottom: -7px; // Fix for safari gap
	}

	.parallax > use {
		animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
	}

	.parallax > use:nth-child(1) {
		animation-delay: -2s;
		animation-duration: 7s;
	}

	.parallax > use:nth-child(2) {
		animation-delay: -3s;
		animation-duration: 10s;
	}

	.parallax > use:nth-child(3) {
		animation-delay: -4s;
		animation-duration: 13s;
	}

	.parallax > use:nth-child(4) {
		animation-delay: -5s;
		animation-duration: 20s;
	}

	@keyframes move-forever {
		0% {
			transform: translate3d(-90px, 0, 0);
		}
		100% {
			transform: translate3d(85px,0,0);
		}
	}

	.content {
		position: absolute;
		top: 0;
	}

	.social__item {
		margin-left: 20px;
		margin-right: 20px;
		.link {
			position: relative;
			top: 0;
			font-size: 30pt;
			color: white;
			&:hover {
				top: -5px;
			}
		}
	}

	&__prom {
		justify-content: flex-end;
		align-items: center;
		@include responsive($screen-sm) {
			display: none;
		}
	}

	&__promotion {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		width: calc(100% - 20px);
		height: 40%;
		@media only screen and (max-height: 1100px) {
			height: 50%;
		}
		@media only screen and (max-height: 900px) {
			height: 70%;
		}
		@media only screen and (max-height: 800px) {
			height: 90%;
		}
		.divider {
			height: 1px;
			background: rgba(0, 0, 0, 0.15);
			width: calc(100% - 20px);
			margin: auto;
		}
	}

	.star {
		animation: rotateAnim 8s cubic-bezier(.55,.5,.45,.5) infinite;
	}

	@keyframes rotateAnim {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}