/*
	Navbar styles
*/

$navbarHeight: 76;
$navbarInnerHeight: $navbarHeight - 30;

.navbar {
	height: #{$navbarHeight}px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

	&__logo {
		height: #{$navbarInnerHeight}px;
	}

	&__trigger {
		@include transition;
		width: #{$navbarInnerHeight}px;
		height: #{$navbarInnerHeight}px;
		border: 3px white solid;
		font-size: 20pt;
		color: white;
		cursor: pointer;
		&:hover {
			background: white;
			color: $color-theme;
			font-size: 25pt;
		}
		&:active {
			font-size: 15pt;
		}
	}
}
