/*
	Admin Modal styles
*/

$admin-modal-height: 350px;

.admin-modal {
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 12;
		background: rgba(255, 255, 255, 0.6);
	}

	&__window {
		height: $admin-modal-height;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 13;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	&__head {
		height: 60px;
	}

	&__body {
		height: calc($admin-modal-height - 60px);
	}

	.close {
		border: 3px white solid;
		&:hover {
			color: $color-theme;
			background: white;
		}
	}
}