/*
	Import necessary styles here
*/

#__next,
main {
	height: 100%;
}

.page {
	height: calc(100% - 76px);
	margin-top: 76px;
}

@import "./fastui.css";
@import "./vars.scss";
@import "./mixins.scss";
@import "./Button.scss";
@import "./Badge.scss";
@import "./Loading.scss";
@import "./Navbar.scss";
@import "./Menu.scss";
@import "./Waves.scss";
@import "./Cover.scss";
@import "./TypeMachine.scss";
@import "./Copyright.scss";
@import "./Footer.scss";

.bg-theme {
	background: $color-theme;
}

.theme {
	color: $color-theme;
}