/*
	Login page styles
*/

.login {
	@include screen-x($screen-md) {
		background: white;
	}

	&__window {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		@include screen-x($screen-md) {
			width: 80%;
			box-shadow: none;
		}
		@include screen-x($screen-sm) {
			width: calc(100% - 40px);
		}
	}

	&__title {
		@include screen-x($screen-sm) {
			font-size: 18pt;
		}
	}

	&__input {
		width: calc(100% - 40px);
		border: none;
	}
}