/*
	Menu styles
*/

.menu {
	background: #ffffff99;
	height: calc(100vh - #{$navbar-h}px);
	position: fixed;
	z-index: 12;
	top: #{$navbar-h}px;
	pointer-events: auto;
	opacity: 1;

	&--hidden {
		top: -200px;
		opacity: 0;
		pointer-events: none;
	}

	&__content {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		@include screen-x(700px) {
			height: 100%;
		}
	}

	&__chantepie {
		@include screen-x(730px) {
			display: none;
		}
	}

	&__title {
		@include screen-x(500px) {
			display: none;
		}
	}

	&__separator {
		height: 1px;
		background: rgba(0, 0, 0, 0.15);
		@include screen-x(700px) {
			margin-bottom: 0;
		}
	}

	&__list {
		@include screen-x(1200px) {
			width: 80%;
		}
		@include screen-x(900px) {
			width: 100%;
		}
		@include screen-x(700px) {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
	}

	&__link {
		display: inline-block;
		color: rgb(120, 120, 120);
		&:hover {
			color: $color-theme;
		}
	}

	&__underline {
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		@include screen-x(700px) {
			display: none;
		}
	}

	&__item:hover &__underline {
		width: 100%;
	}

	&__login {
		@include screen-x(500px) {
			width: 100%;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			button {
				width: 100%;
				margin: 0;
			}
			button:first-child {
				margin-bottom: 10px;
			}
		}
	}
}
