.mercerie {
    padding-top: $navbar-height;
    &__title {
        text-shadow: 1px 1px 3px black;
        @include screen-x($screen-md) {
            font-size: 18pt;
        }
    }
    &__separator {
        box-shadow: 1px 1px 3px black;
    }
    &__bg {
        height: 500px;
        background: url(/assets/mercerie-bg.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    &__overlay {
        background: rgba(0, 0, 0, 0.5);
    }
    .text {
        background: rgba(0, 0, 0, 0.6);
    }
    &__content {
        flex-grow: 1;
        @include screen-x($screen-md) {
            @include flex-col(flex-start, center);
        }
    }
    &__item {
        flex: 1;
        width: calc(50% - 10px);
        margin-right: 20px;
        @include screen-x($screen-md) {
            width: 100%
        }
    }
    .slide {
        width: 400px;
        background: rgba(0, 0, 0, 0.6);
        @include screen-x($screen-md) {
            width: 350px
        }
    }
    .slide>div,
    .react-slideshow-container,
    .react-slideshow-wrapper,
    .each-slide,
    .each-slide>div {
        width: 100%;
        height: 100%;
    }
    .slide-title {
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
    }
    .about {
        background: rgba(0, 0, 0, 0.8);
        &:hover {
            background: black;
            color: $color-theme;
            font-size: 3em;
        }
    }
}