/*
	BO navbar
*/

.navbar-admin {
	width: 330px;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	
	&__container {
		width: calc(100% - 40px);
	}

	&__separator {
		height: 2px;
	}

	&__logout {
		border: 3px white solid;
		color: white;
	}
}