/*
	Backoffice navbar item
*/

.navbar-admin-item {
	&:hover {
		background: rgba(255, 255, 255, 0.3);
		padding-left: 40px;
		box-shadow: none;
		.dot > div {
			width: 90%;
			height: 90%;
		}
	}

	.dot {
		opacity: 0;
	}
	&--active {
		.dot {
			opacity: 1;
		}
	}
}