.promotion {
	.icon {
		&__star {
			padding-left: 4px;
			padding-right: 4px;
			color: yellow;
			animation: rotation 2s infinite linear;
		}
		@keyframes rotation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}

		&__price {
			color: green;
			padding-left: 5px;
			padding-right: 5px;
			animation: beat 0.75s infinite alternate;
		}
		@keyframes beat {
			to {
				transform: scale(1.2);
			}
		}
	}
	.price {
		font-weight: bold;
		font-size: 15pt;
	}
}
