/*
	Service styles
*/

.service {
	&__tab {
		@include screen-x($screen-md) {
			height: auto;
		}
	}
	.item {
		width: calc(50% - 10px);
		@include screen-x($screen-md) {
			width: 100%;
			height: 400px;
		}
		.little {
			height: calc(50% - 10px);
			@include screen-x($screen-md) {
				height: 200px;
				margin: 0;
			}
		}
	}

	.slide > div,
	.react-slideshow-container,
	.react-slideshow-wrapper,
	.each-slide,
	.each-slide > div {
		height: 100%;
	}

	.slide {
		.slide__item {
			background: rgba(0, 0, 0, 0.7);
		}
	}
}