/*
	Machine type styles
*/

.type-machine {
	.choix-machine__container {
		flex-direction: column;
	}

	.item {
		height: 400px;
		position: relative;
		:hover {
			box-shadow: 0px 0px 10px #646464;
		}
		@media only screen and (max-width: 1700px) {
			width: 24%;
		}
		@media only screen and (max-width: 1000px) {
			height: 300px;
		}
		@media only screen and (max-width: 800px) {
			width: 49%;
			height: 400px;
			margin-bottom: 2%;
		}
		@media only screen and (max-width: 600px) {
			width: 70%;
			margin: auto;
			margin-bottom: 20px;
		}
		@media only screen and (max-width: 500px) {
			width: 100%;
			height: 500px;
		}
		@media only screen and (max-width: 340px) {
			height: 400px;
		}
		// &:last-child {
		// 	margin: auto;
		// }
	}

	.name {
		position: absolute;
		bottom: -100%;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0);
		opacity: 0;
	}

	.item:hover .name {
		background: rgba(0, 0, 0, 0.4);
		bottom: 0;
		opacity: 1;
	}

	.view {
		color: #505050;
		:hover {
			background: #e6e6e6;
			color: black;
		}
		:active {
			background: #fff;
		}
	}

	.content {
		box-shadow: 0px 0px 2px black;
	}
}
